.footer {

    padding: 50px 10px;
    background-color: #000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width: $width767) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__social {
        flex: 0 0 30%;
    }

    &__link {
        &:nth-child(n):not(:last-child) {
            margin-right: 10px;
        }
    }

    &__contacts {
        flex: 0 0 70%;
        border-top: 2px solid #fff;
        padding: 15px 0 0 0;
        @media(max-width: $width767) {
            width: 100%;
            margin-top: 30px;
        }
        
    }
}
.contacts-footer {

    &__addr {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width: $width480) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__copyright {
        color: #fff;
        margin-top: 50px;
        font-size: 12px;
        @media(max-width: $width480) {
            text-align: center;
        }
    }
}
.addr-footer {

    &__item {
        color: #fff;
        font-size: 18px;
        @media(max-width: $width480) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
        }
    }

    &__title {
        font-weight: 700;
        margin-bottom: 20px;
        @media(max-width: $width480) {
            margin-bottom: 0;
        }
    }

    &__content {
        font-size: 14px;
        @media(max-width: $width480) {
            font-size: 16px;
            margin-left: 50px;
        }
    }

    &__link {

    }
}
