@import '../additional/mixins';
@import '../additional/variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(#000, .9);
    padding: 20px 10px;
    z-index: 1000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__center {
        @media(max-width: $width767) {
            display: none;
        }
    }

    &__link {
        color: $light-gray;
        font-size: 16px;
        line-height: 24px;
        transition: .2s all ease;
        &:nth-child(n):not(:last-child) {
            margin-right: 50px;
        }
        &:hover {
            color: #ffffff;
        }
    }

    &__left {
        @media(max-width: $width767) {
            order: 1;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: $width767) {
            order: 3;
        }
        @media(max-width: $width575) {
            display: none;
        }
    }

    &__burger {
        order: 2;
    }
}
.logo-header {

    &__name {
        @include museo;
        color: #ffffff;
    }
    &__prof {
        color: $light-gray;
    }   
}
.right-header {

    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__tel {
        font-size: 18px;
        font-weight: 700;
    }

    &__address {
        color: $light-gray;
        font-size: 14px;
    }
}


.burger-btns {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    &_active {
        .burger-btn__line {
            transition: .5s all;
            &:nth-child(1) {
                transform: rotate(45deg) translateY(5px);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-5px);
            }
        }    
    }
    &__line {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        & + & {
            margin-top: 5px;
        }
       
    }
    @media(max-width: 767px) {
        display: block;
    }
    @media(max-width: $width575) {
        left: unset;
        right: 0;
    }
}
.burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(-100%, 0);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    list-style: none;
    z-index: 10;
    background-color: $black;
    transition: .3s all;
    @media(max-width: 991px) {
        &_active {
            transform: translate(0, 0);
            box-shadow: 0 0 10px #000;
        }
    }
    @media(max-width: $width575) {
        width: 100%;
    }
}

.burger-menu {
    &__item {
        &:nth-child(n):not(:last-child) {
            margin-bottom: 20px;
        }
        a {
            font-size: 22px;
            
        }
    }

    &__social {
        margin-top: 40px;
       
    }
    &__link {
        color: #000;
        text-decoration: none;
        &:hover {
            color: lighten(#000, 40%);
        }
    }
    &__close {
        position: absolute;
        top: 5%;
        right: 5%;
        color: #ffffff;
        font-size: 22px;
    }
}


